{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
<form method="post">



            <div id="box">
                <div id="loginform">
                    <h1>SE CONECTER</h1>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    {% endif %}


                    <div style="margin-top: 50px;">

                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" placeholder="E-mail" required autofocus><br>

                        <div style="display: flex; flex-direction: row">
                            <input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder="Mot de passe" required>
                            <img style="width: 30px" src="{{ asset('assets/img/icone-oeil-visible.png') }}" id="eye" onClick="changer()" /><br>
                        </div>


                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button id="login_btn" type="submit">
                            CONNEXION
                        </button>
                        <a style="color: #000; float: right; font-size: 13px; padding: 5px 42px;" href="{{ path('app_register') }}">M'inscrire</a>
                    </div>

                </div>
            </div>   
</form>


<script>
	e=true;
    function changer(){
        if(e){
            document.getElementById("inputPassword").setAttribute("type", "text");
            document.getElementById("eye").src="{{ asset('assets/img/icone-oeil-cache.png') }}";  
            e=false;          
        }else{
            document.getElementById("inputPassword").setAttribute("type", "password");
            document.getElementById("eye").src="{{ asset('assets/img/icone-oeil-visible.png') }}";  
            e=true;     
        }
    }
</script>





{% endblock %}
