{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}



        <div id="box">
                  
            <div id="signupform">
                <h1>S'ENREGISTRER</h1>


                {{ form_start(registrationForm) }}
                
                    <div class="hideMyLabel">
                        {{ form_row(registrationForm.prenom, 
                            { 'attr': 
                                {
                                    'placeholder': 'Prénom'
                                } 
                            }) 
                        }}
                        {{ form_row(registrationForm.nom, 
                            { 'attr': 
                                {
                                    'placeholder': 'Nom'
                                } 
                            }) 
                        }}
                        {{ form_row(registrationForm.telephone, 
                            { 'attr': 
                                {
                                    'placeholder': 'Téléphone'
                                } 
                            }) 
                        }}
                        {{ form_row(registrationForm.email, 
                            { 'attr': 
                                {
                                    'placeholder': 'E-mail'
                                } 
                            }) 
                        }}

                        {{ form_row(registrationForm.plainPassword, 
                            { 'attr': 
                                {
                                    'placeholder': 'Mot de passe'
                                } 
                            }) 
                        }}
                    </div>
                    <div class="putInputFirst">
                        <em>{{ form_row(registrationForm.rgpd) }}</em>
                    </div>

                    <button id="signup_btn" type="submit">M'inscrire</button>
                    <a style="color: #000; float: right; font-size: 13px; padding: 5px 30px;" href="{{ path('app_login') }}">Me connecter</a>
                {{ form_end(registrationForm) }}

            </div>
                       
            
        </div>


{% endblock %}
