{% extends 'base.html.twig' %}

{% block title %}Centre{% endblock %}

{% block body %}
    <h1>Centre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centre.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ centre.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ centre.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ centre.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_centre_index') }}">back to list</a>

    <a href="{{ path('app_centre_edit', {'id': centre.id}) }}">edit</a>

    {{ include('centre/_delete_form.html.twig') }}
{% endblock %}
